@font-face {
  font-family: 'MyFont';
  src: url('./Hideous.woff2') format('woff2'),
    url('./Hideous.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./smile.png');
  font-family: 'MyFont';
}